#wrapper {
  .navbar-brand {
    svg {
      height: 60px;
    }
  }
  #universal_nav .nav-item.dropdown.active {
    .dropdown-menu {
      a {
        color: #000 !important;
      }
    }
    a {
      color: white !important;
    }
  }
}
table {
  background: white;
  border-radius: 0px;
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  width: 100%;
  animation: float 5s infinite;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  border-bottom: 5px #0084ab solid;
  margin-bottom: 40px;
}
th {
  color: #fff;
  background-color: #0084ab;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 12px;
  padding: 10px;
  text-align: left !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
