<div class="container" id="jumbotron-text">
    <div class="col-md-12">
        <img src="/assets/images/OP-TEE-Logo_white-vertical-OPTEE.svg" id="home-hero-image" class="img-responsive center-block animated fadeIn"
            alt="OP-TEE Home Page Image"> </div>
    <h1 id="home-page-title" class="white fade-in-one"> Open Portable Trusted Execution Environment </h1>
    <p id="home-page-text" class="sub-tag center-block fade-in-two">
        <span>Isolation ● Small footprint ● Portability</span>
    </p>
    <p id="buttons">
        <a class="btn btn-primary btn-lg fade-in-three bottom-border-five" href="/contact/" role="button"> Get Involved </a>
    </p>
</div>