{% unless page.url == "/members/" or page.url == "/search/" %}
<div class="row members members-container">
    <div class="container">
        <h4 class="text-center">Supporting Companies</h4>
        <hr />
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <img class="lazyload img-responsive member-image center-block" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="/assets/images/member1.jpg"  alt="Linaro Member">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <img class="lazyload img-responsive member-image center-block"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/wind-river.png" alt="Wind River">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <img class="lazyload img-responsive member-image center-block"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/member3.jpg" alt="Applus Laboratories Member">
        </div>
    </div>
</div>
{% endunless %}